.section-details {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;

  .btn-next-active {
    width: 234px;
    height: 46px;
    border: none;
    background: linear-gradient(180deg, #87bffb 0%, #64a6ee 100%);
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-family: "poppins";
    text-align: center;
    letter-spacing: 0.01em;
  }

  .button-exchange {
    width: 234px;
    height: 46px;
    border: none;
    /* background: linear-gradient(180deg, #87bffb 0%, #64a6ee 100%); */
    border-radius: 10px;
    background: rgb(125, 125, 125);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-family: "poppins";
    text-align: center;
    letter-spacing: 0.01em;
  }

  .container-user-details {
    background: #f8f8f8;
    display: flex;
    flex-direction: row;
    width: 311px;
    height: 65px;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 11px;
      object-fit: cover;
    }

    .user-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;

      color: #000000;
    }

    p {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      color: #8c8c8c;
    }

    .user-details {
      padding-left: 8px;
    }
  }

  .title-article {
    display: flex;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 3rem;
  }

  .container-article-page {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    .article-img {
      width: 500px;
      height: 500px;
      border-radius: 5px;
      border: 2px solid red;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .container-article-details {
      padding-left: 25px;
      width: 311px;

      h1 {
        font-weight: 600;
        font-size: 25px;
        line-height: 45px;
      }
      .article-tags {
        span {
          font-weight: 500;
          font-size: 13px;
          line-height: 13px;
          letter-spacing: -0.05em;
          text-transform: uppercase;

          color: #9c9c9c;
        }
      }
      .container-upper-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .article-details {
        display: flex;
        flex-direction: column;
      }

      .article-date {
        display: flex;
        flex-direction: column;

        span {
          justify-content: right;
          display: flex;
        }
      }

      .span-condition {
        margin-left: 15px;
      }
    }
  }
}
