//Primay colors

$lightblue: #d8e8fa;
$primaryblue: #2c95f1;
$primarygreen: #55c85f;
$primarypurple: #9474dd;
$primaryred: #f42d29;
$primaryyellow: #fec420;

// Warning colors

$warning200: #f7db5c;
$warning400: #eba630;
$warning600: #aa5419;

// Error colors

$error200: #f3a6a5;
$error400: #de4341;
$error600: #ac2519;

// Shades colors :

$shades01: #21272d;
$shades02: #ffffff;
