.signIn-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 236px;
    height: 38px;
    border: 1px solid #dadbdc;
    box-sizing: border-box;
    border-radius: 10px;
  }
}
