.section-footer {
  background: $lightblue;
  height: 300px;

  .div-upper-footer {
    img {
      background-color: white;

      width: 100%;
    }
  }
  .container-footer {
    background: $lightblue;
  }
  .footer-title-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

    h1 {
      font-weight: 800;
      font-size: 35px;
      background: linear-gradient(
        180deg,
        rgba(158, 215, 154, 0.79) 0%,
        #80ca7a 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .social-media {
      padding-top: 1rem;
      width: 2rem;
      justify-content: space-between;
    }
  }
  .menu-footer {
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
}
